h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular',sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-variant: small-caps;
    font-style: oblique;
    line-height: 70px;
    color: brown;
}