body{
    background-color: antiquewhite;
}

h1{
    color: brown;
    text-align: left;
    text-indent: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 15px;
}

h2{
    color: blue;
    text-align: center;
    text-decoration: line-through;
    letter-spacing: 10px;
    word-spacing: 20px;
}